/*
#C8A7FD
#9F96E3
#B1BCFA
#96B6E3
#A7E1FD */

* {
    text-align: center;
}

body {
    background-color: #A7E1FD;
}

h1, h2, h3 {
    color: black;
}

a {
    background-color: #96BCE3;      
    font-size:1.5em;
    padding: 25px 97px;
    display:inline-block;
    margin-top: 20px;
}

a:hover {
    background-color: #9F96E3;
    color: #A7E1FD;
}

p {
    font-size: 1.2em;
    margin-left: 550px;
    max-width: 800px;
    text-align: justify;
}

li {
    margin-left: 750px;
    text-align: left;
}

hr {
    max-width: 1500px;
}

.big {
    font-size: 1.2em;
}

.extra {
    font-size: 3em
}

.blue {
    color:navy
}

.gold {
    color:goldenrod
}

.length {
    padding: 25px 40px;
}

.margin {
    text-align: left;
    margin-left: -220px;
}

.description {
    margin-left: 200px;
    margin-top: -30px;
    text-decoration: underline;
}